/* 
RESET CSS
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
MAIN CSS
*/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-image: url(../images/mainBg.gif);
  background-attachment: fixed;
}
.logo {
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.logo .before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.logo img {
  display: inline-block;
  vertical-align: middle;
  max-width: 30%;
  width: 20%;
  transition: all 0.3s;
}
.logo img:hover {
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
}
.container {
  width: 960px;
  margin: auto;
  min-width: 360px;
}
.header {
  width: 100%;
  position: relative;
}
.header .welcome {
  width: 100%;
  height: 100px;
  background-color: rgba(72, 61, 139, 0.8);
}
.header .welcome .top-logo {
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
}
.header .welcome .top-logo img {
  width: 30%;
}
.header .welcome .top-text {
  width: 70%;
  height: 100%;
  float: left;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.header .welcome .top-text .before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.header .functional {
  width: 100%;
  height: 100px;
  background-color: rgba(106, 90, 205, 0.8);
}
.header .functional .basket {
  width: 20%;
  height: 100%;
  float: right;
  text-align: center;
}
.header .functional .basket .before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.header .functional .basket img {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.header .functional .basket-info {
  width: 20%;
  height: 100%;
  float: right;
  text-align: right;
  display: none;
}
.header .functional .basket-info .before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.header .functional .basket-info img {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}
.header .functional .today {
  width: 60%;
  float: right;
  height: 100%;
  text-align: right;
  display: none;
}
.header .functional .today .before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.header .functional .today p {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8em;
  color: chartreuse;
}
.header .slider {
  width: 100%;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.header .slider .before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.header .arrow {
  position: absolute;
  display: none;
  bottom: -20px;
  right: 0;
  width: 50px;
  cursor: pointer;
}
.filters {
  width: 0%;
  height: 500px;
  float: left;
  background-color: rgba(106, 90, 205, 0.8);
}
.filters .nameFilter {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}
.filters .input-text {
  width: 100%;
  margin-top: 20px;
}
.filters .input-text label {
  margin-left: 2%;
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.8);
}
.filters .input-text input {
  display: block;
  width: 95%;
  margin: auto;
}
.content {
  width: 100%;
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
}
.categories-list {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.category-list {
  width: 25%;
  margin: 20px 20px;
  padding: 10px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  transition: all 0.5s;
}
.category-list:hover {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
  transition: all 0.5s;
  cursor: pointer;
}
.category-list.ng-leave {
  opacity: 1;
}
.category-list.ng-leave.ng-leave-active {
  opacity: 0;
}
.category-slider {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  padding: 10px;
  text-align: center;
  transition: all 0.5s;
  color: black;
}
.category-slider:hover {
  color: blue;
  transition: all 0.5s;
  cursor: pointer;
}
.category-slider.ng-enter {
  opacity: 0;
}
.category-slider.ng-enter.ng-enter-active {
  opacity: 1;
  transition: all 2s;
}
.product {
  width: 98%;
  background-color: snow;
  height: 30%;
  margin-top: 1%;
  margin-left: 1%;
  overflow: hidden;
}
.product .product-photo {
  float: left;
  width: 15%;
  overflow: hidden;
}
.product .product-photo img {
  max-width: 100%;
  max-height: 300px;
}
.product .product-description {
  float: left;
  margin-left: 2%;
  width: 70%;
  overflow: hidden;
}
.product .product-description p {
  margin-top: 1.5%;
  padding: 10px 0;
}
.product .product-description #productName {
  font-weight: bolder;
  font-size: 1.5em;
}
.product:hover {
  border: 2px solid rgba(0, 0, 255, 0.8);
  cursor: pointer;
}
.product.ng-enter {
  opacity: 0;
}
.product.ng-enter.ng-enter-active {
  opacity: 1;
  transition: all 1s;
}
.to-top {
  position: fixed;
  bottom: 2%;
  right: 0.5%;
  width: 5%;
  z-index: 7;
  display: none;
  cursor: pointer;
}
.to-top img {
  width: 100%;
}
.spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: #000000;
  z-index: 20;
}
.spinner p {
  position: absolute;
  top: 47%;
  left: 42%;
}
.opacity {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 3;
}
.modal {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 960px;
  display: none;
  top: 10%;
  left: 50%;
  margin-left: -480px;
  z-index: 5;
  text-align: center;
}
.modal #modal-close {
  font-size: 3em;
  font-weight: bolder;
  height: 10%;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
  display: block;
  transition: color 0.5s;
}
.modal #modal-close:hover {
  transition: color 0.5s;
  color: red;
}
.modal .name {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}
.modal .big-image {
  height: 300px;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  margin: auto;
}
.modal .big-image img {
  max-width: 960px;
  max-height: 300px;
}
.modal .images-slider {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: white;
  border-top: 1px solid black;
}
.modal .images-slider .before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.modal .images-slider .image-slider {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
}
.modal .images-slider .image-slider img {
  max-width: 300px;
  height: 130px;
}
.modal .characteristics {
  margin-top: 20px;
  width: 100%;
}
.modal .characteristics table {
  width: 98%;
  margin: auto;
}
.modal .characteristics table tr {
  height: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  margin-top: 5px;
}
.modal .characteristics table tr td {
  vertical-align: middle;
  text-align: left;
  font-size: 1.5em;
  padding: 5px 1%;
}
.modal .buy {
  margin-top: 50px;
  width: 100%;
}
.modal .buy table {
  width: 98%;
  margin: auto;
}
.modal .buy table tr {
  height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  margin-top: 5px;
}
.modal .buy table tr td {
  vertical-align: middle;
  text-align: left;
  font-size: 1.5em;
  padding: 5px 1%;
  width: 50%;
}
.modal .buy table tr td select {
  font-size: 1.5em;
  height: 50px;
  width: 70%;
}
.modal .buy table tr td #count {
  font-size: 1.5em;
  height: 50px;
}
.modal .buy .info {
  width: 100%;
  text-align: center;
  color: red;
  font-size: 1.5em;
  font-weight: bolder;
  display: none;
}
.modal .buy .button {
  width: 100%;
  text-align: center;
}
.modal .buy .button img {
  cursor: pointer;
  width: 20%;
}
.basket-items {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 960px;
  display: none;
  top: 10%;
  left: 50%;
  margin-left: -480px;
  z-index: 5;
}
.basket-items .name {
  margin-top: 7%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 50px;
}
.basket-items #modal-close-2 {
  font-size: 3em;
  font-weight: bolder;
  height: 10%;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
  display: block;
  transition: color 0.5s;
}
.basket-items #modal-close-2:hover {
  transition: color 0.5s;
  color: red;
}
.basket-items .item-basket {
  width: 98%;
  background-color: snow;
  height: 30%;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  overflow: hidden;
  text-align: left;
}
.basket-items .item-basket .name-product {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}
.basket-items .item-basket p {
  margin-top: 1.5%;
  margin-left: 1.5%;
  padding: 10px 0;
  font-size: 1.5em;
}
.basket-items .item-basket:hover {
  border: 2px solid rgba(0, 0, 255, 0.8);
  cursor: pointer;
}
